
<div class="row">
  <div id="my-container-div" class="col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-md-6 text-info">
            <h1 id="title">Find what  <br>makes you happy</h1>
            <p>GitHub is a development platform inspired by the way you work. 
            From open source to business, you can host and review code, 
            manage projects, and build software alongside millions of other developers.
            </p>
        </div>
        <div class="col-md-5 col-md-offset-1 popping-element">
              <%= form_for(:user, url: users_path, html: {class: "form form-horizontal", autocomplete: "off"}) do |f| %>
    
                    <div class="form-group">
                      <h3>Sign up for <span class="inline-logo">FOCUS</span></h3>
                    </div>
                    
                  
                    <div class="form-group">
                      <%= f.label :name, class: 'control-label col-sm-12' %>
                      <%= f.text_field :name, class: 'form-control', placeholder: "Enter your full name", autocomplete: "off" %>
                    </div>
                    
                    <div class="form-group">
                      <%= f.label :email, class: 'control-label col-sm-12' %>
                      <%= f.email_field :email, class: 'form-control', placeholder: "Enter your email", autocomplete: "off" %>
                    </div>
                    
                    <div class="form-group">
                      <%= f.label :password, class: 'control-label col-sm-12' %>
                      <%= f.password_field :password, class: 'form-control', placeholder: "Enter your password", autocomplete: "off" %>
                    </div>
                    
                    <div class="form-group">
                      <div class="col-sm-10 col-sm-offset-1">
                        <%= f.submit "Sign up", class: "btn btn-primary" %>
                      </div>
                    </div>
                  <% end %>
        </div>
    </div>
    
    
  </div>
</div>
